body {
    background-color: #f39c12;
    background-size: cover;
}

.login-box {
    background-color: #92a8d1;
    margin: auto;
    width: 500px;
    height: 200px;
    padding: 1px;
    border: 2px solid black;
}

.logo {

    height: 100px;
    width: 100px;
    background-image: url("logo.png");
    background-size: cover;

}

.search {
    display: flex;
    justify-self: end;
}

.logo-home {
    height: 40px;
    width: 40px;
}

.logo-area {
    display: flex;
    justify-content: center;
}

.first-row, .second-row {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;


}

.first-row.row, .second-row.row {
    margin-top: 40px;
}

.first-row a, .second-row a {
    color: black;
    text-decoration: none;
}

img.administrator {
    height: 150px;
    width: 200px;
}

img.student-detail {
    height: 150px;
    width: 200px;
}

img.manage-user {
    height: 150px;
    width: 200px;
}

img.manage-news {
    height: 150px;
    width: 200px;
}

img.examination {
    height: 150px;
    width: 200px;
}

img.time-table {
    height: 150px;
    width: 200px;
}

img.attendance {
    height: 150px;
    width: 200px;
}

img.setting {
    height: 150px;
    width: 200px;
}

img.human-resource {
    height: 150px;
    width: 200px;
}

img.finance {
    height: 150px;
    width: 200px;
}

.student-button {
    display: flex;
    justify-content: flex-end;
}


.btn-group {
    margin-top: 40px;
}
button.btn.btn-primary {
    margin-right: 5px;
}

.check-box {
    display: inline-block;

}

table#students-table {
    margin-top: 30px;
}
.check {
    margin-top: 50px;
    display: -webkit-box;

}






























/* Coded with love by Mutiullah Samim */
body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    background: #f39c12 !important;
}
.user_card {
    height: 400px;
    width: 350px;
    margin-top: auto;
    margin-bottom: auto;
    background: #f39c12;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;

}
.brand_logo_container {
    position: absolute;
    height: 170px;
    width: 170px;
    top: -75px;
    border-radius: 50%;
    background: #60a3bc;
    padding: 10px;
    text-align: center;
}
.brand_logo {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 2px solid white;
}
.form_container {
    margin-top: 100px;
}
.login_btn {
    width: 100%;
    background: #c0392b !important;
    color: white !important;
}
.login_btn:focus {
    box-shadow: none !important;
    outline: 0px !important;
}
.login_container {
    padding: 0 2rem;
}
.input-group-text {
    background: #c0392b !important;
    color: white !important;
    border: 0 !important;
    border-radius: 0.25rem 0 0 0.25rem !important;
}
.input_user,
.input_pass:focus {
    box-shadow: none !important;
    outline: 0px !important;
}
.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #c0392b !important;
}

.user_card {
    margin-top: 100px;
}































.box{
    background-color: transparent;
    font-family: 'Oxygen', sans-serif;
    border-radius: 0 30px;
    overflow: hidden;
    position: relative;
    z-index: 1;
    transition: all 0.3s ease 0.3s;
}
.box:hover{ background-color: #44bd32; }
.box:before,
.box:after,
.box .box-content:before,
.box .box-content:after{
    content: '';
    background-color: #44bd32;
    width: 100%;
    height: 5px;
    position: absolute;
    top: 0;
    left: -100%;
    transition: all 0.4s ease-in;
}
.box:after{
    top: auto;
    bottom: 0;
    left: 100%;
}
.box .box-content:before{
    width: 5px;
    height: 100%;
    top: 100%;
    left: 0;
}
.box .box-content:after{
    width: 5px;
    height: 100%;
    top: -100%;
    left: auto;
    right: 0;
}
.box:hover:before,
.box:hover:after{
    opacity: 0.2;
    left: 0;
}
.box:hover .box-content:before,
.box:hover .box-content:after{
    opacity: 0.2;
    top: 0;
}
.box img{
    width: 100%;
    height: auto;
    transition: all 0.3s ease;
}
.box:hover img{ opacity: 0.35; }
.box .box-content{
    color: #fff;
    height: 100%;
    width: 100%;
    padding: 15px 0 0 15px;
    opacity: 0;
    position: absolute;
    top: 20px;
    left: 0;
    transition: all 0.45s ease;
}
.box:hover .box-content{
    opacity: 1;
    top: 0;
}
.box .title{
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-shadow: 0 0 10px rgba(0,0,0,0.5);
    margin: 0 0 4px;
}
.box .post{
    font-size: 16px;
    letter-spacing: 1px;
    text-transform: lowercase;
    text-shadow: 0 0 10px rgba(0,0,0,0.5);
    margin: 0 0 5px;
    display: block;
}
.box .icon{
    padding: 0;
    margin: 0;
    list-style: none;
    opacity: 0;
    transform: rotate(-45deg);
    position: absolute;
    bottom: 15px;
    right: 15px;
    transition: all 0.4s cubic-bezier(0.6, -0.8, 0.735, 0.045);
}
.box:hover .icon{
    opacity: 1;
    transform: rotate(0deg);
}
.box .icon li{ display: inline-block;  }
.box .icon li a{
    color: #fff;
    background-color: #44bd32;
    font-size: 16px;
    text-align: center;
    line-height: 38px;
    width: 40px;
    height: 40px;
    margin: 0 5px;
    border-radius: 50%;
    border: 2px solid #fff;
    display: block;
    position: relative;
    transition: all 0.3s ease 0s;
}
.box .icon li  a:hover{ box-shadow: 0 0 15px rgba(0,0,0,0.5); }
.box .icon li  a:hover:after{
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    animation: animate 0.5s ease-out 75ms;
}
@keyframes animate{
    0%{ opacity: 0.3; }
    40%{
        opacity: 0.5;
        box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #fff, 0 0 0 10px rgba(255,255,255,0.5);
    }
    100%{
        box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #fff, 0 0 0 10px rgba(255,255,255,0.5);
        transform: scale(1.5);
        opacity: 0;
    }
}
@media only screen and (max-width:990px){
    .box { margin: 0 0 30px; }
}

.row {
    margin-top: 20px;
}

